{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock %}
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Your custom CSS -->

    <link rel="stylesheet" href="{% static 'styles/base.css' %}?v={% now 'U' %}">

</head>

<body>
    <nav class="blue darken-2">
        {% block nav %}{% endblock %} 
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">MyShop</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}"><i class="material-icons left">home</i>Home</a></li>
                <li><a href="{% url 'clients-list' %}"><i class="material-icons left">list</i>Clients</a></li>
                <li><a href="{% url 'clients-create' %}"><i class="material-icons left">shopping_bag</i>New-Client</a></li>
            </ul>
        </div>
    </nav>

    <!-- Mobile Navigation -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}"><i class="material-icons">home</i>Home</a></li>
        <li><a href="{% url 'products-home' %}"><i class="material-icons">shopping_bag</i>Products</a></li>
        <li><a href="#"><i class="material-icons">info</i>About</a></li>
        <li><a href="#"><i class="material-icons">email</i>Contact</a></li>
    </ul>
    <main> {% block main %}{% endblock %} </main>
    <footer>{% block footer %}{% endblock %} </footer>

    <!-- JavaScript at the end of the document so the pages load faster -->

    <!-- This will print the actual URL -->
    <p>Static URL test: {% static 'styles/base.css' %}</p>

    <!-- Check in console -->
    <script>
        console.log("Static URL: {% static 'styles/style.css' %}");
    </script>

    {% block scripts %}{% endblock %}
</body>

</html>